<nav class="m-3 flex justify-between font-semibold bg-red-200">
    <a class="grid place-items-center text-3xl" href="/">Sparrow Studios</a>
    <div class="bg-blue-200 flex gap-5 text-2xl mr-2">
        <a
            class="underline decoration-gray-600"
            href="{{ url_for('main.about') }}"
            >About</a
        >
        <a
            class="underline decoration-gray-600"
            href="{{ url_for('main.plans') }}"
            >Plans</a
        >
        <a
            class="underline decoration-gray-600"
            href="{{ url_for('main.shop') }}"
            >Shop</a
        >
        <a
            class="underline decoration-gray-600"
            href="{{ url_for('main.custom') }}"
            >Custom Orders</a
        >
    </div>
</nav>
