{% extends "base.html" %} {% block content %}
<!-- Reference: https://scarabwood.com/about/ -->
<div class="flex">
    <div class="">
        <h1></h1>
        <p></p>
        <button>See My Work</button>
    </div>
    <div class="">
        <img src="" alt="A portait image of me" />
    </div>
</div>
<div class="">
    <h1></h1>
    <p class="font-bold"></p>
    <p></p>
</div>
<div class="flex">
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
</div>
<div class="flex">
    <h1>What we value</h1>
    <p><span class="font-bold">1</span>value explaination</p>
    <p><span class="font-bold">2</span>value explaination</p>
    <p><span class="font-bold">3</span>value explaination</p>
</div>
{% endblock %}
