<!DOCTYPE html>
<html lang="en-au">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- TailwindCSS -->
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <!-- bootstrap icons -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
            rel="stylesheet"
        />

        <!-- Vanilla js and css -->
        <script src="../static/app.js"></script>
        <link rel="stylesheet" href="../static/style.css" />
        <title></title>
    </head>
    <body>
        {% include "components/nav.html" %} {% block content %} {% endblock %}
        {% include "components/footer.html" %}
    </body>
</html>
